main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card-projet {
  width: 500px;
  border-radius: 8px;
  position: relative;
  display: inline-flex;
  cursor: pointer;
  margin: 25px 30px;
}
.card-projet .image-box {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card-projet .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 90%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}

.card-projet::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid #B6CDE8;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card-projet:hover img {
  filter: grayscale(1) brightness(0.4);
}
.card-projet:hover::after {
  opacity: 1;
  inset: 20px;
}

.content-projet {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-projet h2,
.content-projet p {
  opacity: 0;
  transition: 0.4s 0.2s ease;
}
.content-projet h2 {
  color: #B6CDE8;
  margin-bottom: 12px;
  scale: 0.7;
}
.content-projet p {
  font-size: 14px;
  line-height: 1.5;
  color: #B6CDE8;
  transform: translateY(50%);
}
.card-projet:hover .content-projet h2 {
  scale: 1;
  opacity: 1;
}
.card-projet:hover .content-projet P {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive */

@media screen and (max-width: 768px) {
  .card-projet {
    width: 275px;
  }
  .content-projet h2, .content-projet p {
    font-size: 10px;
  }
  @media screen and (max-width: 425px) {
    .card-projet {
      width: 225px;
      margin: 0 0 20px 0;
    }

    .content-projet h2, .content-projet p {
      font-size: 8px;
    }

    @media screen and (max-width: 325px) {
      .card-projet {
        width: 200px;
        margin: 0 0 20px 0;
      }
  
      .content-projet h2, .content-projet p {
        font-size: 6px;
      }
    }
  }
}